<div *ngIf="loading">Loading...</div>
<div *ngIf="error" class="error">{{ error }}</div>

    <table *ngIf="ubicaciones.length > 0" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ubicacion of ubicaciones">
          <td>{{ ubicacion.id }}</td>
          <td>{{ ubicacion.name }}</td>
          <td>{{ ubicacion.details }}</td>
        </tr>
      </tbody>
    </table>

      <div *ngIf="ubicaciones.length === 0 && !loading && !error">
        No data available.
      </div>
    </div>
  </tr>
