<div *ngIf="loading">Loading...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<table *ngIf="ubicaciones.length > 0" border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ubicacion of ubicaciones">
      <td>{{ ubicacion.id }}</td>
      <td>{{ ubicacion.name }}</td>
      <td>{{ ubicacion.username }}</td>
      <td>
        <div *ngIf="ubicacion.address">
          <p>Street: {{ ubicacion.address.street }}</p>
          <p>City: {{ ubicacion.address.city }}</p>
          <p>Zipcode: {{ ubicacion.address.zipcode }}</p>
        </div>
      <td>{{ ubicacion.phone }} </td>
    </tr>

  </tbody>
</table>

<div *ngIf="ubicaciones.length === 0 && !loading && !error">
  No data available.
</div>
